/* Start Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #2b3138;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ffffff, #ece9e6);
  background-size: cover;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/* End global */

/* Start Navbar */

header {
  position: absolute;
  top: 0;
  width: 100%;
}

li,
a {
  color: #292e49;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

li {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

li a:hover {
  color: crimson;
  cursor: pointer;
}

/* End Navbar */

/* Start Home */
.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.landing-page .landing-text {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.landing-page .landing-text:nth-child(1) {
  position: relative;
  width: 50%;
  background: url(/img/person-using-macbook-pro-beside-coca-cola-cans-3819967.jpg);
  background-size: cover;
  overflow: hidden;
}

.landing-page .landing-text:nth-child(1) h1 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #292e49;
  -webkit-text-fill-color: transparent;
  left: 100%;
}

.landing-page .landing-text .landing {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
  line-height: 100vh;
  color: #292e49;
  animation: animate 60s linear infinite;
}

.landing-nav {
  margin-top: -80px;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* End Home */

/* Responsiveness */

/* End Responsiveness */
